
/*formatação para o corpo*/
body {
    background-color: black;
}

/*formatação comum a todas as tags header e section*/
section, header {
    width: calc(100% - 250px);
    margin: 0 auto;
}

/*formatação para o corpo da interface*/
main#interface {
    display: flex;
    flex-direction: column;
    width: calc(100% - 150px);
    margin: 100px auto 0px auto;
    background-color: rgb(0, 132, 255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

/*formatação para o cabecalho*/
header {
    border-bottom: 2px solid white;
    margin:20px auto;
    padding-bottom: 20px;
}

header h1 {
    font-size: 18pt;
    font-weight: 600;
}


/*formatação para a section*/
section {
    display: flex;
    align-content: top;
}

/*formatação para o conteudo da esquerda*/
article#left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

article#left h1 {
    font-weight: 500;
    font-size: 14pt;
}

article#left p {
    margin-top: 0px;
    font-size: 11pt;
    font-weight: 500;
}

img#imageLeft {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

/*formatação para o conteudo da direita*/
article#right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 79, 170);
    margin-left: 5px;
}

/*formatação para o formulario*/
article#right form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label#title {
    font-size: 14pt;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}

form input {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px;
    font-size: 10pt;
    border: 1px solid #555;
}

form input#getEbook {
    padding: 10px 20px;
    background-color: rgb(221, 169, 0);
    color: white;
    font-weight: bold;
    font-size: 9pt;
    margin-bottom: 0px;
    transition: .5s;
}

form input#getEbook:hover {
    background-color: rgba(218, 141, 0, .9);
    transform: scale(1.1);
}

form fieldset#logins {
    margin:0px;
    border: none;
    display: flex;
    width: 150px;
}

form fieldset#logins input {
    flex: 1;
    height: 20px;
    transition: .5s;
}

form fieldset#logins input:hover {
    filter: grayscale(70%);
    transform: scale(1.2);
}

input#facebook {
    background-image: url("../_images/like.png");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 20px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 8pt;
    line-height: .5;
    text-indent: 9px;
}

input#google {
    background-image: url("../_images/iconGoogle.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15px;
}

input#tweet {
    background-image: url("../_images/iconTweet.png");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 15px;
    background-color: rgb(0, 162, 255);
    color: white;
    font-weight: bold;
    font-size: 8pt;
    line-height: .5;
    text-indent: 9px;
}

